<script>
$(document).ready(function(){
    let agents = $("#agents").DataTable({
        ajax: {
            url: "/agent/findAll",
            dataSrc: ""
        },
        pageLength: 10, // show 10 entries
        columnDefs: [ 
            {
                "targets": 0,
                data: "name",
                render: function(data){                    
                    return data;
                }
            },
            {
                "targets": 1,
                data: "status",
                render: function(data, type, row){
                    if(data === "offline"){
                        return "Offline";
                    } else if(data === "online" && row.assignedRequest){
                        return "Busy";
                    } else {
                        return "Available";
                    }                    
                }
            },
            {
                "targets": 2,
                data: "assignedRequest.assignTime",
                render: function(data){
                    if(data){
                        return moment(data).fromNow();
                    }

                    return "N/A";
                }
            },
            {
                "targets": 3,
                data: "assignedRequest.planType",       
                render: function(data, type, row){
                    return displayTaskDescription(data, type, row);
                }
            }                
        ],
        order: [[ 1, "desc" ]], // so offline and busy will be displayed before available
        rowCallback: function(row, data) {
            if (data.status === "offline") {
                $(row).addClass("table-danger");
            } else if (data.status === "online" && data.assignedRequest){
                $(row).addClass("table-primary");
            }
        }
    });

    function displayTaskDescription(data, type, row){
        
        if(data){
            let task = "Running " + data + " " + row.assignedRequest.owner.name;
            let description = task + "<div><small>" + row.assignedRequest.definition.name + "</small></div>";

            return description;
        }

        return "N/A";
    }

    // auto refresh page after 30 secs
    setInterval( function () {
        agents.ajax.reload(null, false);
    }, 30000);
});
</script>