<% include header %>

<div class="container">
    <div class="page-header">
        <h1 class="text-info text-center"><span class="text-uppercase"><%= type %></span> Automation Test</h1>
    </div>
    <table id="tests" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Manual Ids</th>
                <th>Automation Ids</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<%- include("table/footer", {data: file}) %>