<% include ../partials/header %>
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Agent</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="page-header">
            <h1 class="text-info text-center"><span class="text-uppercase">Agent Pool Name</span></h1>  
        </div>
        <table id="agents" class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Start Time</th>
                    <th>Task</th>                    
                </tr>
            </thead>                     
        </table>

    </div>
</div>

<% include ../partials/script %>
<% include ../partials/agent %>
<% include ../partials/footer %>